*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #021912;
  color: #fff;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 1rem 0 1.5rem 0;
  text-align: center;
}

input{
  background: transparent;
  border: 1px solid #fff;
  padding: 8px 15px;
  color: inherit;
  border-radius: 6px;
  font-size: 1rem;
  width: 25rem;
}


input::placeholder{
  color: #fff;
  font-family: sans-serif;
}

.createTodoBtn{
  font-size: 1rem;
  background: transparent;
  color: inherit;
  border: 1px solid #fff;
  padding: 13px;
  border-radius: 6px;
}

select{
  background: transparent;
  color: #fff;
  border-radius: 6px;
  padding: .8rem;
  border: 1px solid #fff;
}

.todo-line{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 5rem;
}

.card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ff922b;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

.App{
  padding: 2rem;
}

#root{
  display: flex;
  justify-content: center;
}

.todo-buttons{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.todoText{
  color: #ffe9d5;
  font-size: 1.5rem;
}

button{
  background: transparent;
  color: #fff;
  border: none;
}

.edit-btn,
.delete-btn,
.pending,
.completed{
  font-size: 1rem;
}

.edit-btn{
  color: #20c997;
}

.edit-btn:hover{
  cursor: pointer;
  color: #63e6be;
  text-decoration: underline;
  text-transform: uppercase;
}

.delete-btn{
  color: #c92a2a;
}

.delete-btn:hover{
  color: #fa5252;
  text-decoration: underline;
  cursor: pointer;
  text-transform: uppercase;
}

.completed{
  color: #e68327;
}

.completed:hover{
  cursor: pointer;
  color: #ff9d40;
  text-decoration: underline;
  text-transform: uppercase;
}

.pending{
  color: #ffe9d5;
}

.pending:hover{
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
}

/* 560 --> Phones */
@media (max-width:35em) {
  input{
    padding: 1rem;
  }

  .todo-line{
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-size: 1.5rem;
  }

  .createTodoBtn{
    width: 60%;
  }

  .card{
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 75%;
    margin: auto;
  }

  .todo-buttons{
    flex-direction: column;
  }

  .App{
    padding-right: 16px;
  }

.todoText,
.edit-btn,
.delete-btn,
.pending,
.completed{
  font-size: 1.5rem;
}
}

@media (max-width:24em) {
  input{
    width: 100%;
    width: 17rem;
  }
}